/*
Rojo - bullet : #f64552
Gris - bullet : #f8f8f8
Amarillo - botones : #fbd43b
Gris dark : #212121
Gris - letra soft : #8f8f8f
Turquesa - Términos y condiciones: #00c3a3
Morado - Entrada de números : #49233b
Morado light : #451e36
Morado dark : #38052a
*/
* {
	font-family: 'Roboto', sans-serif;
}

hr {
	border: none;
	border-top: 1px solid #451e36;
}

div.section {
	padding-top: 60px !important;
}

.light-gray-text {
	color: #8f8f8f;
}

.text-purple {
	color: #38052a;
}

.bullet-gray-text {
	color: #f8f8f8;
}

button {
	background-color: #fbd43b;
}

label span,
.text-green-a {
	color: #00c3a3;
}

/*screen2*/
#number, #code {
	padding-left: 60px;
}

/*success*/
div#success {
	background-color: #fbd43b !important;
	height: 600px;
}

/*screen hello*/
div#hello.col {
	background-color: #451e36 !important;
	height: 600px;
	overflow: hidden;
	padding: 0 !important;
}

div#hello > div.col {
	padding: 0;
}

div#header {
	padding-top: 15px;
	padding-bottom: 15px;
}

div#main-hello {
	background-color: #38052a !important;
	height: 80%;
	margin-top: 10px;
	padding: 15px !important;
}

div#hero {
	margin-top: 10px;
	margin-bottom: 70px;
}

img#engine {
	width: 20px;
	margin-top: 15px;
	margin-right: 15px;
}

@media screen and (min-width: 800px) {

	div#hello {
		height: 1300px;
	}

	div#success {
		height: 950px;
	}
}
